<!DOCTYPE html>
<html>
<head>
	<title>Dont'disconnect - just connect</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="stylesheet" href="../styles/font-awesome-4.7.0/css/font-awesome.min.css"> -->

	<link rel="stylesheet" type="text/css" href="../styles/css/style.css">
	<link rel="stylesheet" type="text/css" href="../styles/css/bootstrap.min.css">
	<script  src="form_validation.js" type="text/javascript"></script>
</head>
<body>
	<div id="container">
		<div class="img" >
		<a href="../views/index.html"><img src="../images/Connect.png"></a>
		</div>
			<p> Hi there  - Just connect</p>
		<form>
				<div class="form-input">
						<!-- Username -->
							<input type="text" name="username"placeholder="USERNAME"  >
				</div>
			<div class="form-input">
					<!-- <p>Password</p> -->
					<input type="Password" name="password" placeholder=" PASSWORD" >
					<div id="error_password" class="val_error"></div>
			</div>
				<p>	<a href="">Forget password? </a></p>
				<button type="submit" name="submit"  class="btn-login">LOGIN<button/>

				<button type="submit" class="btn-login"  name="signup"> <a href="../views/signup.html">SIGNUP</a></button>


		</form>
	</div>
	</body>
</html>
