<!DOCTYPE html>
<html>
<head>
	<title>Dont'disconent - just connect</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="stylesheet" href="../styles/font-awesome-4.7.0/css/font-awesome.min.css"> -->

	<link rel="stylesheet" type="text/css" href="../styles/css/style.css">
	<link rel="stylesheet" type="text/css" href="../styles/css/bootstrap.min.css">
	<link src="fom_validation.js" type="text/javscript"></script>
</head>
<body>
	<div id="main-container">
		<div class="img">
			<a href="../views/index.html"><img src="../images/Connect.png"></a>
		</div>
		<p> Creat a new Conect Account</p>
		<forms>
			 		<!-- <p>Name</p> -->
					<div class="fill">
							<input type="text" name="username" placeholder="Name " class="textinput"></p>
							<input type="text" name="email" placeholder="Email" class="textinput"></p>
							<input type="password" name="reg-password" placeholder="Password" class="textinput"></p>
							<input type="password" name="password_confirmaton" placeholder="Repeat Password" class="textinput"></p>
						<div id="password_confirmation" class="val_error"></div>
				</div>

					<div class="country">
					Country : <select name="Country">
						<option value="">Ghana</option>
						<option value="">Nigeria</option>
						<option value="Germany">Germany</option>
						<option value="South Africa">South Africa</option>
						<option value="USA">USA</option>
					</select>
				</div>
				<div>
					<p>By registering,I accept the <a href="#">  Terms of Service  </a> and   <a href="#">Privecy Policy  </a> by  <a href="http://w3layouts.com">ConnectsApp</a></p>
					<button class="btn-login">SUBMIT</button>
				</div>
		</forms>
	</div>
	</body>
</html>
